In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pathlib

In [8]:
path = pathlib.Path.cwd().parent / 'CSVs' / 'FirmGrants.csv'
df = pd.read_csv(path)
df

     year    firm     hrsemp  grant  evergrant
0    1988  410032   3.053435      0          0
1    1987  410032  12.000000      0          0
2    1987  410440  12.000000      0          0
3    1988  410440  12.000000      0          0
4    1988  410495  20.000000      0          0
..    ...     ...        ...    ...        ...
251  1988  419482   0.000000      0          0
252  1987  419483   0.000000      0          0
253  1988  419483   0.000000      0          0
254  1987  419486   0.000000      0          0
255  1988  419486   0.000000      0          0

[256 rows x 5 columns]